<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Dartclub "De Pielken"</h1>
            <p class="lead"><%= image_tag("dart-logo-zwart.png", :alt => "Dart-logo", size: "350") %></a>.</p>
            <ul class="list-unstyled">
                <li>te Sexbierum</li>
                <li>2016</li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
