<div class="container">
  <div class="row">
    <h3>Games</h3><%= link_to "New game", new_game_path, class: "btn btn-primary" %>
    <div class="column">
      <table class="table">
        <tbody>
          <% @games.each do |game| %>
            <tr>
              <%= render game %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>